body{
	background:url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SZMXphYEipbdr8zi/beautiful-clouds-close-up-weather-background_skp3rq4r__F0000.png) no-repeat fixed center;
	text-align:center;
	color:#212121;
	font-weight:700;
	font-family:roboto,sans-serif;
}

input:focus{
	border:2px solid #005588;
}

input{
	width:300px;
	color:#005588;
	height:33px;
	margin-right:10px;
	padding-left:10px;
	font-weight: bold;
	border-radius:5px;
}

.search{
	width: 50%;
    height: 30px;
    margin: auto;
    text-align: center;
    display: table;
}

#city{
	font-size:40px;
	margin-top:30px;
	font-weight:900;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .data{
  	margin-top:40px;
  	position:relative;
  	margin-right:150px;
  	margin-left:150px;
  	margin-bottom:40px;
  	font-size:30px;
  	color:#000;
  	font-family:loto;
  }

.mb-90{
	margin-bottom:30px;
	background: rgba(0,0,240,0.2);
}

.temp{
	margin-right:30px;
	width: 360px;
    height: 157px;
    padding: 10px;
        border-radius: 80px;
        -webkit-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
-moz-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
}


.press{
	width: 360px;
    height: 157px;
    padding: 10px;
        border-radius: 80px;
        -webkit-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
-moz-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
}


.humidity{
	width: 360px;
    height: 157px;
    padding: 10px;
        border-radius: 80px;
        -webkit-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
-moz-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
}

.wind{
	width: 360px;
    height: 157px;
    padding: 10px;	
        border-radius: 80px;
        -webkit-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
-moz-box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
box-shadow: inset 0px 1px 41px 6px rgba(0,85,136,1);
}
#celcius{
	display:none;
}

.status{
	display: inline-flex;
    background: rgba(0,43,150,0.3);
    padding: 20px;
    border-radius: 40px;
}